<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Toolkits -  PayPal Developer</title>
    <link href='https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico' rel='shortcut icon' />
    <link href='https://www.paypalobjects.com/eboxapps/css/f2/2a93ea0626628fda8ba38e96147df7/app.css' rel='stylesheet' />
    <link href='../css/sdk.css' rel='stylesheet' />
  </head>
  <body data-spy='scroll' data-target='#sdk-menus'>
    <div class='wrapper'>
      <div class='navbar navbar-fixed-top'>
        <div class='topnav'>
          <div class='container'>
            <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </a>
            <a class='brand' href='../'>
              PayPal on GitHub
            </a>
            <div class='pull-right'>
              <a href='https://developer.paypal.com/'>
                <img alt='PayPal Developer' class='siteLogo' src='https://www.paypalobjects.com/webstatic/i/ex_ce2/logo/logo_paypal_106x29.png' />
              </a>
            </div>
          </div>
        </div>
        <div class='navbar-inner mainnav'>
          <div class='container'>
            <nav class='nav-collapse collapse' role='navigation'>
              <ul class='nav'>
                <li>
                  <a href='../'>SDKs</a>
                </li>
                <li class='active'>
                  <a href='./'>Toolkits</a>
                </li>
                <li>
                  <a href='../sample-apps/'>Samples</a>
                </li>
                <li>
                  <a href='https://github.com/paypal' target='_blank'>
                    All Projects
                    <span class='pop-out-icon'></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class='centerContent'>
        <div class='view'>
          <!-- Begin docs item "<%= @item[:title] %>" last modified <%= @item[:mtime] %> -->
          <div class='container' id='docsContainer'>
            <div class='row'>
              <div class='span2' id='docsNav'>
                <div class='row'>
                  <div class='sidebar span2'>
                    <ul class='nav nav-list'>
                      <li class='nav-header'>Toolkits</li>
                      <li class='active'><a href="#">Links</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class='span10'>
                <div class='mainContainer'>
                  <h1>Toolkits</h1>
                  <ul>
                    <li>
                      <a href='https://github.com/paypal/html5-dg'>
                        A HTML5 toolkit for digital goods with PayPal w/ server side templates
                      </a>
                    </li>
                    <li>
                      <a href='https://github.com/paypal/python-signature-generator-for-authentication-header'>
                        Python Signature generator for Permissions API
                      </a>
                    </li>
                    <li>
                      <a href='https://github.com/paypal/spring-social-paypal'>
                        A PayPal extension for Spring framework
                      </a>
                    </li>
                    <li>
                      <a href='https://github.com/paypal/yql-tables'>
                        YQL tables for PayPal Transactional Search and Data
                      </a>
                    </li>
                    <li>
                      <a href='https://github.com/paypal/wadl-library'>
                        WADL files for a few PayPal APIs
                      </a>
                    </li>
                    <li>
                      <a>PayPal Payments Standard Toolkits</a>
                      <ul>
                        <li>
                          <a href="https://github.com/paypal/sdk-packages/raw/gh-pages/paypal-payments-standard/ruby/PP_Ruby_WPS_Toolkit.zip">Ruby</a>,
                          <a href="https://github.com/paypal/sdk-packages/raw/gh-pages/paypal-payments-standard/java/PP_Java_WPS_Toolkit.zip">Java</a>,
                          <a href="https://github.com/paypal/sdk-packages/raw/gh-pages/paypal-payments-standard/php/paypal_php_wps_toolkit_0.zip">PHP</a>,
                          <a href="https://github.com/paypal/sdk-packages/raw/gh-pages/paypal-payments-standard/dotnet/PP_AspNet_WPS_Toolkit.zip">.NET</a>,
                          <a href="https://github.com/paypal/sdk-packages/raw/gh-pages/paypal-payments-standard/classicasp/PP_ClassicAsp_WPS_Toolkit.zip">ClassicASP</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End docs item "<%= @item[:title] %>" -->
        </div>
        <div class='docsScroller'>
          <a class='gotoTop hide' href='#'></a>
        </div>
        <div class='footer span12'>
          <p class='copyright'>Copyright &copy; 1999 - 2013 PayPal. All rights reserved.</p>
          <ul class='footerNav'>
            <li>
              <a href='https://www.paypal.com/us/cgi-bin/webscr?cmd=p/gen/ua/policy_privacy-outside'>Privacy policy</a>
            </li>
            <li>
              <a href='https://cms.paypal.com/aw/cgi-bin/marketingweb?cmd=_render-content&amp;amp;content_ID=ua/Legal_Hub_full&amp;amp;locale.x=en_US'>Legal agreements</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src='https://www.paypalobjects.com/eboxapps/js/e9/fc24408d5d85bb4f8d8b5c252fb483/lib/require-2.0.1.js' type='text/javascript'></script>
    <script src='https://www.paypalobjects.com/eboxapps/js/e9/fc24408d5d85bb4f8d8b5c252fb483/main.js' type='text/javascript'></script>
    <script src='../js/sdk.js' type='text/javascript'></script>
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36123826-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>
